<div class="flex flex-col gap-y-6" id="projects">
    <h1 class="text-[24px] font-geist font-semibold">projects_</h1>
    <div class="flex flex-col gap-1 font-geist">
        <a
            href="/projects/cometreads"
            transition:name="project-cometreads"
            class="text-lg font-normal hover:cursor-pointer transition hover:underline"
            >CometReads - Book Tracker</a
        >
        <p class="text-md text-gray-700">Full Stack App / December 2025</p>
    </div>
    <div class="flex flex-col gap-1 font-geist">
        <a
            href="/projects/bacanora-sierra-madre"
            transition:name="project-bacanora"
            class="text-lg font-normal hover:cursor-pointer transition hover:underline"
            >Bacanora Sierra Madre</a
        >
        <p class="text-md text-gray-700">Landing Page / February 2026</p>
    </div>
    <div class="flex flex-col gap-1 font-geist">
        <a
            href="/projects/jii"
            transition:name="project-jii"
            class="text-lg font-normal hover:cursor-pointer transition hover:underline"
            >Jovenes Impulsando la Industria 2025</a
        >
        <p class="text-md text-gray-700">
            Hackathon / May 2025
        </p>
    </div>
    <div class="flex flex-col gap-1 font-geist">
        <a
            href="/projects/flashy"
            transition:name="project-flashy"
            class="text-lg font-normal hover:cursor-pointer transition hover:underline"
            >Flashy - Simple flashcard app</a
        >
        <p class="text-md text-gray-700">
            Full Stack App / May 2024
        </p>
    </div>
</div>
